*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header {
	height: 45px;
	width: 100%;
	background: linear-gradient(to top, rgba(250, 171, 45, 0.7), rgba(250, 45, 230, 0.7));
	position: fixed;
	top: 0;
	z-index: 10;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}
.top-wrapper{
	padding: 180px 0px 100px 0px;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(home.jpg);
	background-size: cover;
	background-position: center;
	height: 65vh;
}
.header-left{
	height: 12%;
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.logo{
	width: 50px;
	cursor: pointer;
}
nav	{
	flex: 1;
	text-align: right;

}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
	float: left;

}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	border: 1px solid transparent;
	transition: 0.6s;
	line-height: 45px;
}
nav ul li a:hover{
	background-color: rgba(187, 191, 202, 1);
	line-height: 45px;
  	padding: 15px 25px;
}
nav ul li.active a{
	background-color: #fff;
	line-height: 45px;
  	padding: 0 25px;
  	color: #000;
  	display: block;
}
.header-right {
  background-color: rgba(159, 159, 161, 0.8);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(159, 159, 161, 1);
}

.header-right a {
  line-height: 45px;
  padding: 0 25px;
  color: white;
  display: block;
  text-decoration: none;
}
.top-wrapper h3{
	font-size: 20px;
	padding-left: 8%;
  	color: white;
  	font-style: italic;
  	box-sizing: border-box;
}