*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	text-decoration: none;
}
.container{
	width: 1170px;
	margin: 0;
	padding: 0;
}
.top-wrapper{
	padding: 180px 0px 100px 0px;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(home.jpg);
	background-size: cover;
	background-position: center;
	height: 65vh;
	z-index: 9;
}
.top-wrapper h3{
	font-size: 20px;
  	color: white;
  	font-style: italic;
  	box-sizing: border-box;
  	margin-bottom: 10px;
  	padding-left: 8%;
}
.top-wrapper h1{
	color: white;
	font-style: initial;
	font-size: 60px;
	letter-spacing: 5px;
	margin-bottom: 10px;
	padding-left: 8%;
}
header {
	height: 45px;
	width: 100%;
	background: linear-gradient(to top, rgba(250, 171, 45, 1), rgba(250, 45, 230, 1));
	position: fixed;
	top: 0;
	z-index: 10;
	box-sizing: border-box;
}
.header-left{
	height: 13%;
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.logo{
	width: 50px;
	cursor: pointer;
	margin-left: 20px;
}
.header-left nav{
	flex: 1;
	text-align: center;

}
.header-left nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
	float: left;

}
.header-left nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	border: 1px solid transparent;
	transition: 0.6s;
	line-height: 45px;
}
.header-left nav ul li a:hover{
	background-color: rgba(187, 191, 202, 1);
	line-height: 50px;
  	padding: 15px 25px;
}
.header-left nav ul li.active a{
	background-color: #fff;
	line-height: 45px;
  	padding: 0 25px;
  	color: #000;
  	display: block;
}
.header-right {
  background-color: rgba(159, 159, 161, 0.8);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(159, 159, 161, 1);
}

.header-right a {
  line-height: 45px;
  padding: 0 25px;
  color: white;
  display: block;
  text-decoration: none;
}
.media{
	height: 10px;
	display: grid;
	justify-content: right;
	margin-top: 70px;
	padding-right: 8%;
	opacity: 0.8;

}
.media img{
	width: 35px;
}
.a{
	margin-bottom: 15px;
}
.main{
	background-color: #d7d9de;
	height: 1050px;
}
.popular{
	height: 800px;
}
.popular h1{
	text-align: center;
	padding: 50px 0px 80px 0px;
}
.berita {
	display: flex;
	float: left;
	margin-bottom: 100px;
	padding-left: 8%;
	padding-right: 8%;
}
.berita img{
	width: 300px;
	height: 200px;
	margin-right: 50px;
}
.news-text h2 {
	text-align: justify;
	line-height: 25px;
	margin-bottom: 20px;
}
.news-text p{
	text-align: justify-all;
}
.btn-box{
	width: 100%;
	margin: 30px auto;
	text-align: center;
}
.btn-box button{
	width: 200px;
	height: 50px;
	background: linear-gradient(to right, #ec0cb0, #ff8921);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	box-shadow: 0 5px #de962a;
	margin-bottom: 50px;
}
.btn-box button:active{
	position: relative;
  	top: 7px;
  	box-shadow: none;
}
.join {
	border-top: 2px solid #fff;
}
.join h2{
	text-align: center;
	margin-top: 50px;
}
footer{
	background-color: #150482;
	color: white;
	height: 300px;
	z-index: 9;
}
.footer-logo{
	padding-left: 8%;
}
.footer-logo img{
	width: 100px;
	margin: 20px 0px;
}
.media-footer img{
	width: 30px;
	margin-right: 10px;
}
.footer-logo p{
	margin-bottom: 10px;
	font-size: 12px;
}
.footer-logo, .footer-mid, .footer-right{
	color: white;
	float: left;
}
.footer-mid{
	margin-left: 100px;
	margin-top: 50px;
}

.footer-mid nav h3{
	margin-bottom: 35px;
}
.footer-mid nav ul li{
	list-style: none;
	margin-bottom: 10px;
}
.footer-mid nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	border: 1px solid transparent;
}
